.valid {
    background-color: #5ff587;
}
.invalid{
    background-color: #ee7fff;
}

.none-read{
    background-color: #fc7979;
}

body {
    width: 300px; /* Set the desired width */
    margin: 0 auto; /* Center the content horizontally */
}


